
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Index</h2>

<br />
<div style="text-align: justify">

    <h3>Name : Ashfat Ahmed.</h3>
    <br />
    <h3>Id : 21-44854-2.</h3>
    <br />
    <h3>Email :ashfatahmedmridul6757@gmail.com</h3>
    <br />
    <h3> Git Profile :ashfatgithub</h3>
    <br />


</div>

